<h2 style="text-align:center">Contact us</h2>

<div class="center">

  <div class="row">


    <div class="column">
      <div class="card">
        <img src="https://5.imimg.com/data5/ML/FW/MY-9573777/grocery-paper-bags-500x500.jpg" width="300" height="300"
          alt="Teja" style="width:100%">
        <hr>
        <div class="container">
          <h2>Tejeswar Reddy</h2>
          <h6 class="title">Founder & Director of Brilli Groceries</h6>
          <p>Software Developer at Brillio Technologies</p>
          <p>Email us at : tejeswarareddy.b@brillio.com</p>
          <p><button class="btn btn-warning">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>